<section class="vision-projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="vision-proj-img">
                <img src="../../../../assets/images/project-vision-img.png" alt="" class="w-100">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="vision-proj-content">
                    <h2  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">مشاريع الرؤية مشروع نيوم</h2>
                    <p  class="text-center" data-aos="zoom-in"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">في عام 2017 أطلق صاحب السمو الملكي الأمير محمد بن سلمان بن عبدالعزيز ولي العهد
                         رئيس مجلس الوزراء مشروع نيوم الجريء الذي يقوده صندوق الاستثمارات 
                        العامة، ليحول الصحراء إلى مدينة مستقبلية مبتكرة في شمال غرب المملكة، 
                        تعمل بنسبة 100% بالطاقة المتجددة، لتكون نموذجًا جديدًا للحياة المستدامة 
                        والعمل والازدهار، حيث يمكن البشرية من التقدم دون المساس بصحة كوكب الأرض.
                        تشتمل نيوم على مشاريع عصرية تشكل جزءاً أساسياً منها،
                         هي: ذا لاين، أوكساچون، وتروجينا، وسندالة</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-img mt-5"  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
    data-aos-delay="200"    data-aos-easing="linear">
        <img src="../../../../assets/images/about-img.png" alt="" class="w-100">
    </div>

    <div class="about-projects text-center">
        <div class="container mt-5">
        <p  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">ستكون القدية عاصمة المستقبل للترفيه والرياضة والثقافة في المملكة، وستضم مجموعة متنوعة من المتنزهات ومراكز الفنون الأدائية والملاعب الرياضية والمشروعات العملاقة الجاري تطويرها،
             وتوفر فرصًا فريدة ومثيرة للزوار من داخل المملكة وخارجها.
             </p>
             <p  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
             data-aos-delay="200"    data-aos-easing="linear">
            دشن خادم الحرمين الشريفين الملك سلمان بن عبدالعزيز مشروع القدية عام 2018، لتحويلها إلى مركز عالمي للترفيه والرياضة والثقافة، وبدأت الإنشاءات في العام التالي لإقامة ملاعب رياضية دولية 
            ومسارح للحفلات الموسيقية وأماكن ترفيه فاخرة، وأكاديميات للرياضة والفنون، وحلبات للسباقات، وأماكن لاستضافة فعاليات الإثارة والمغامرة، ومدن ألعاب تناسب كل أفراد العائلة، إضافة إلى متنزه 6 فلاجز الشهير الذي يضم أطول وأسرع لعبة أفعوانية في العالم.
           تشكل الفئة العمرية الأصغر من 35 عامًا ما نسبته 67% من السعوديين، ولهذا يأتي مشروع القدية ليوفر لشباب وشابات المملكة فرصًا جديدة للترفيه والإبداع والمرح كوجهة سياحية عالمية في قلب الرياض، ويخلق المشروع عدًدا كبيرًا من الوظائف، ويساعد في بناء مجتمع أكثر ازدهارًا وحيوية، ويسهم في زيادة عوائد السياحة الداخلية.</p>
    </div></div>
</section>
