<section class="about-national-day">
    <div class="container">
        <h3 class="text-center"  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">
            يومنا الوطني وفاء وعطاء
        </h3>
        <p  class="text-center" data-aos="zoom-in"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">
            تأبى الكلمات إلا أن تزهو فرحًا في ذكرى اليوم الوطني الثالث والتسعون للملكة العربية السعودية، وللحرف أن يترنم فخرًا، مُرتِّلًا تاريخنا المجيد، المتجذر في ذاكرة لن تنسَى تضحيات آبائه وأجداده التي انتهت بتوحيد المملكة أرضًا وإنسانًا.
إن هذه الذكرى العابقة الأثر، أصلها ثابتٌ في الأرض، وفرعها في سماء أبنائه الكبير والصغير، والرجال والنساء، خيرًا وعطاءً وأمنًا، يرون فيها آثار تضحيات القائد المؤسس الملك عبد العزيز ورجاله -رحمهم الله-.
وجمال هذه الذكرى هو ما نعيشه اليوم قوةً وفخرًا وأمنًا ورخاءً، نحمل أمجاد الماضي العريق، ونعيش الواقع 
المزدهر، ونتطلع لمستقبلٍ مشرقٍ بإذن الله، وهو ما جسَّدته رؤية نهضة الوطن 2030.
</p>
<p>
وكل هذا التلاحم والفخر والثقة قائم على حُسن العلاقة بين الحاكم والمواطن، فمع إشراقة كل يوم تبشرنا بأن الوطن يمضي قُدمًا نحو تنميةٍ ينعمُ بها الجميع، مما يجعل واجبنا أمام هذا التاريخ التليد، وهذه الخطوات المتسارعة في النمو أن نكون أكثر تلاحمًا وفخرًا وثقةً بقيادتنا، محافظين على وطننا بأحداق العيون، محافظين على مقدساتنا الإسلامية التي شرفنا الله برعايتها وخدمة قاصديها، لتتحول مسيرة البناء والتحديث إلى ملحمة إنجاز تتواصل جيلًا بعد جيل، من بناءٍ إلى بناء، ومن تجربةٍ إلى أخرى، ومن حُلمٍ إلى حقيقة.
هذه الذكرى تمثل رمزًا يُذكر أجيال المملكة بأن الراية التي يتسلمونها من آبائهم، تعني مزيدًا من المسئوليات والواجبات، والأمل الدائم بأمنٍ يعمُّ الأرجاء، رخاءً للجميع، وتنميةً مستدامة لا تستثني شبرًا من تراب هذا الوطن المعطاء.
        </p>
    </div>

    <div class="about-national-day-img mt-5"   data-aos="fade-up"   data-aos-duration="400" 
    data-aos-delay="200"    data-aos-easing="linear">
        <div class="layer">
            <img src="../../../../assets/images/layer.png" alt="">
        </div>
        <img src="../../../../assets/images/national-day-bg.png" alt="" class="w-100">
    </div>
</section>
