<section class="about-vision">
    <div class="container">
        <div class="title w-50 m-auto  text-center">
        <h2 class="text-center"  class="text-center" data-aos="fade-up"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">رؤية ٢٠٣٠ </h2>
        </div>
        <p  class="text-center" data-aos="zoom-in"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">رؤية ٢٠٣٠     بتوجيه من خادم الحرمين الشريفين الملك سلمان بن عبدالعزيز آل سعود،
             انطلقنا في رحلة نحو مستقبل أكثر إشراقًا مع رؤية السعودية 2030، التي وضعها صاحب السمو الملكي الأمير محمد بن سلمان بن عبدالعزيز، ولي العهد رئيس مجلس الوزراء، رئيس مجلس الشؤون الاقتصادية والتنمية لتكون خارطة طريق تعزز نقاط قوتنا التي وهبنا الله إياها، والمتمثلة في: موقعنا الاستراتيجي، وقوتنا الاستثمارية، ومركزنا في العالمين العربي والإسلامي.   قيادتنا حفظها الله، ملتزمة تمامًا بتحقيق طموحاتنا وتعظيم إمكاناتنا.  وضعت رؤية السعودية 2030 أسسًا قوية للنجاح، بدأت بتنفيذ إصلاحات غير مسبوقة، شملت القطاع العام وجميع النواحي الاقتصادية والاجتماعية. وعلى الرغم من التحديات، زاد عزمنا على تحقيق أهدافنا، واكتسبنا خبرات لا تقدر بثمن. أصبحت الأعمال الحكومية أكثر كفاءة، وتمكنّا من خلق فرص استثمارية جديدة، وزيادة مشاركاتنا العالمية، وتحسين جودة حياة السكان، لتشمل هذه الإنجازات المتلاحقة جميع أبناء وطننا العظيم.
              مع استمرار رحلة التحول، نسير بثبات لتحقيق أهدافنا بحلول عام 2030.</p>
    </div>
</section>
