
<section>
    <div class="bg-img">
        <img src="../../../../assets/images/vision-discovery-img.png" alt="" class="w-100">
    </div>
</section>
<section class="discovery">
    <div class="container">
      

        <div class="row">
            <div class="col-lg-6">
                <h2   data-aos="fade-up"   data-aos-duration="400" 
                data-aos-delay="200"    data-aos-easing="linear">اكتشف جاكتشف جمال</h2>
                <p   data-aos="zoom-in"   data-aos-duration="400" 
                data-aos-delay="200"    data-aos-easing="linear">اكتشف جاكتشف جمال المغامرة، وكنوز الطبيعة في البحر الأحمر، الوجهة السياحية الفاخرة
                     على الساحل الغربي، للمملكة العربية السعودية.
                    تمتد الوجهة الساحرة البالغة مساحتها 28 ألف كيلومتر مربع، على طول الساحل الغربي للمملكة، وتضم مجموعة من الأراضي والبحيرات، و90 جزيرة بكر، وشواطئ صافية، وتزخر بمجموعة من عجائب الطبيعة، بما في ذلك البراكين الخامدة، والكثبان الرملية، والجبال الخلابة. تعد الوجهة موطناً لرابع أكبر حيد مرجاني مزدهر في العالم، والذي يزخر بالعديد من الموائل البحرية والشعب المرجانية الخلابة والتي لا مثيل لها في العالم بأسره.
                    لا تعد وجهة البحر الأحمر مجرد مكان ساحر يستهوي أفئدة الباحثين عن 
                    السياحة فقط، بل تكتنز بمواقع تاريخية وثقافية خفية لم تكتشف بعد، وتحمل موروثًا تراثيًّا غنيًّا.
                     ومن المقرر أن تضم الوجهة عند إنجاز جميع مراحلها عام 2030، 
                    50 منتجعًا توفر 8,000 غرفة فندقية بالإضافة إلى أكثر من 1,000 عقار سكني.</p>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center h-100"
             data-aos="fade-up"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">
                <img src="../../../../assets/images/discovery-img.png" alt=""  class="w-100">
                <img src="../../../../assets/images/vision-logo.png" alt=" " class="vision-logo">
            </div>
        </div>

     
    </div>
</section>

    <div class="bottom-img">
        <img src="../../../../assets/images/vision-bottom-img.png" alt="" class="w-100 ">
    </div>

