
<section class="about-nora-brothr">
    <div class="container">
      <div class="row ">
        <div class="col-lg-5">
            <div class="img" data-aos="fade-up"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">
            <img src="../../../../assets/images/about-nora-brother-img.png" class="w-100">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="content">
                <h2 data-aos="fade-up"   data-aos-duration="400" 
                data-aos-delay="200"    data-aos-easing="linear">أخو نورة</h2>
                <p data-aos="zoom-in"   data-aos-duration="400" 
                data-aos-delay="200"    data-aos-easing="linear">
                    قصه المقوله الشهيره " اخو نورة "
وكان الملك المؤسس يفتخر بقول "أنا أخو نورة" عندما تلمّ به الملمّات، ولازمته هذه العبارة في معارك توحيد المملكة، في دلالة على ارتباطه بشقيقته التي تكبره بعام واحد.
فكانت -رحمها االله- عاملا مهما في شحذ همة أخيها عبدالعزيز في السعي  ملك آبائه، فعندما عزم 
على الخروج من الكويت  
الرياض، بكت والدته بكاءً حارًا، غير أن نورة شجعته، 
 عليه قائلة: "لا تندب حظك، إنْ خابت الأولى والثانية  تظفر في الثالثة، ابحث عن أسباب فشلك، فالرجال لم  للراحة"
، وهو ما كان أحد أسباب نجاح الملك  في فتح الرياض سنة 1902م.
                     </p>

            </div>
        </div>

      </div>
    </div>
</section>

<section class="bg">
    <div class="bg" data-aos="fade-up"   data-aos-duration="400" 
    data-aos-delay="200"    data-aos-easing="linear">
        <img src="../../../../assets/images/about-nora-brother-bg.png" alt="" class="w-100">
    </div>
</section>

<section class="other-inf">
    <div class="container text-center">
        <p data-aos="zoom-in"   data-aos-duration="400" 
        data-aos-delay="200"    data-aos-easing="linear">ولدت الأميرة نورة في الرياض عام 1292هـ/1875م، وارتبطت بشقيقها الملك عبدالعزيز برباط وثيق منذ طفولتهما المبكرة، إذ كانت تشاركه اللعب كما كانت رفيقته عند خروجهم من الرياض في أعقاب موقعه المليداء عام 1308هـ/1891م.
            وبعد سنوات من الخروج كانت الأميرة نورة أحد العوامل المهمة في تشجيع أخيها الملك عبدالعزيز لاستعادة الرياض، فكانت تحثه تكرار المحاولة لاستعادة الرياض بعد فشل المحاولة الأولى “.
            كما انه وبعد استرداد الرياض عام 1319هـ/1902م برز دورها على الصعيد السياسي والاجتماعي، فكانت عامل مهم في الترابط بين آل سعود وكانت تجنب شقيقها مشاكل وشؤون القصر الداخلية
             وكانت تشرف على تسيير أمور نساء العائلة ” .
             </p>
             <p data-aos="zoom-in"   data-aos-duration="400" 
             data-aos-delay="200"    data-aos-easing="linear">

            وكان شقيقها الملك عبدالعزيز يستشيرها في كثير من الأمور ويبوح بأسراره لها ويأتمنها عليها وكان يعتمد عليها كثيراً في الشؤون الاجتماعية وكانت تُعتبر السيدة 
            الأولى بشخصيتها المميزة في السعودية، حيث كانت تستقبل الزائرات الأجنبيات للرياض “.</p>
      </div>
</section>