
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.jpeg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/landing-page"> الملك عبدالعزيز</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/altaasees-day-page">  تأسيس المملكة</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/national-day-page"> اليوم الوطني</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/2030-vesion-page">  رؤية 2030</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">تطور المملكة</a>
          </li>

        

          <li class="nav-item">
            <a class="nav-link" href="#">  انجازات الوطن</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              المزيد
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/nora-brother-story-page">قصة أخو نورة</a></li>
           
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>