
<section class="sec-saudia">
    

    <img src="../../../../assets/images/sec-saudia-layer.png" alt="" class="sec-saudia-layer w-100">

    <div class="all-content pt-5">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5">
                <div class="sec-saudia-img w-100">
                    <img src="../../../../assets/images/sec-saudia-img.png" alt="" class="w-100">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="sec-saudia-content ">
                    <h2 data-aos="fade-up"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">نشأت الدولة السعودية</h2>

                    <p data-aos="zoom-in"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">الثانية خلال الفترة من 1824م وحتى 1891م، بعد انقضاء 
                        الحملات العثمانية وما خلفته من آثار، والتي لم تؤثر على ولاء أهل المنطقة لأسرة آل سعود حيث قام الأمير تركي بإعادة بناء دولة سعودية ثانية عاصمتها 
                        الرياض تقوم على ما قامت عليه السعودية الأولى من مقومات</p>
                </div>
            </div>
        </div>
</div>

       
    </div>
    <img src="../../../../assets/images/bottom-layer-img.png" alt="" class="w-100" data-aos="fade-up"   data-aos-duration="300" 
    data-aos-delay="200"    data-aos-easing="linear">
</section>
