<section class="first-saudia">
    <img src="../../../../assets/images/layer.png" alt="">
  <div class="container  ">
    <div class="row  justify-content-between align-items-center">
      <div class="col-lg-6 ">
        <div class="first-saudia-content ">
        
            <h2 data-aos="fade-up"   data-aos-duration="300" 
            data-aos-delay="200"    data-aos-easing="linear"
          >تأسست الدولة السعودية الأولى بين عامي 1744م-1818م</h2>

            <p data-aos-easing="linear"
            data-aos-duration="400" 
              data-aos-delay="200" data-aos="zoom-in" >بعد أن عانت الجزيرة العربية من مشاكل متعددة طالت النواحي السياسية والاجتماعية -كما وصفها المؤرخون- في بدايات القرن الثامن عشر الميلادي، مما أدى إلى تحالف بين الأمير محمد بن سعود بن محمد بن مقرن، والشيخ محمد بن عبد الوهاب.[١] ففي عام 1744م تمَّ تأسيس الدولة السعودية الأولى عندما حرص كل من أمير الدرعية محمد بن سعود والشيخ محمد بن عبد الوهاب على 
                السير نحو العقيدة الصحيحة، 
                وإنشاء دولة موحدة تُطبِّق الشريعة الإسلامية، واتفق كلا الطرفين بما يُسمى "اتفاق الدرعية".
                أسفرت العديد من الحملات العثمانية عن نهاية الدولة السعودية الأولى عام 1818م.
                </p>

                
        </div>
      </div>
      <div class="col-lg-5 ">
        <div class="first-saudia-img w-100 " data-aos-easing="linear"
        data-aos-duration="400" 
          data-aos-delay="200" data-aos="fade-up" >
            <img src="../../../../assets/images/first-saudia-img.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>
