<div class="banner">
    <div class="container">
        <div class="banner-content">
            <h2   data-aos="fade-up"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear"> رؤية ٢٠٣٠</h2>
            <p   data-aos="zoom-in"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">
            تتحقق رؤية السعودية 2030 في وطن طموح، يلتزم بالكفاءة والمسؤولية تديره حكومة فاعلة، عالية الأداء.
            </p>
        </div>
      
    </div>
    <div class="over-lay">
        
    </div>
    <div class="layer"></div>
</div>
