<div class="banner">
    <div class="container">
        <div class="banner-content">
            <h2   data-aos="fade-up"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">اليوم الوطني</h2>
            <p   data-aos="zoom-in"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">
            هذا يوم يرفع فيه كل مواطن رأسه شموخاً وفخراً بما تحقق على أرض وطنه المعطاء.
            


            </p>
        </div>
      
    </div>
    <div class="over-lay"></div>
    <div class="layer"></div>
</div>
