<section class="roshen-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="roshen-img">
                    <img src="../../../../assets/images/roshen-img.png" alt="" class="w-100">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="roshen-content">
                    <h2>روشن</h2>
                    <p>تلبي روشن طلب السعوديين المتزايد على امتلاك المنازل، كشركة تطوير عقاري وطنية،
                         تقوم بإنشاء أحياء سكنية متكاملة حيوية ورائعة للعيش، تناسب مختلف الأذواق. 
                         تسهم روشن التي تم إطلاقها في عام 2022 في تحقيق هدف رؤية السعودية 2030
                          الطموح برفع نسبة امتلاك المواطنين السعوديين لمنازلهم إلى 70% بحلول عام 2030،
                          وتقدم مساهمات إيجابية ومبتكرة لقطاعي العقارات والبنية التحتية في المملكة،
                          حيث تعد أحد المشاريع الرئيسية لصندوق الاستثمارات العامة، 
                         التي تركز على تحسين نوعية الحياة لجميع المواطنين. 
                         تقدم الشركة بالتعاون مع شركائها المحليين، 
                         فرصًا عديدة للمساهمة في تحقيق المستهدفات الوطنية، 
                         وتؤدي دورًا رئيسيًّا يسهم في استمرار النمو والازدهار داخل المملكة.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="other-info">
    <div class="bg-img">
        <img src="../../../../assets/images/about-img.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="content text-center">
            <p>
                اكتشف أكثر من 300 عام من الثقافة والتاريخ الأصيل للمملكة العربية السعودية، لتعيش تجارب تراثية ملهمة وفريدة، وفرص تعليمية وثقافية، بالإضافة إلى الاستمتاع بأحياء سكنية تتسق مع أسلوب حياة عالمي المستوى، في مشروع بوابة الدرعية المتميز.
تقع الدرعية على بعد 15 دقيقة شمال غرب العاصمة الرياض. وتحتضن حي الطريف التاريخي أحد المواقع المسجلة في قائمة اليونيسكو للتراث والثقافة. ويعتبر حي الطريف التاريخي
 مثالًا رائعًا للهندسة المعمارية الفنية، وأحد الأحياء السكنية التاريخية المبنية من الطين "اللبن" على الطراز النجدي التقليدي، كما يعتبر مهد المملكة العربية السعودية وعاصمة الدولة السعودية الأولى ومعقل الأسرة الحاكمة. وبمزج استثنائي بين التاريخ العريق والمعالم العصرية، يرتبط الزوّار مع المكان ليتعرفوا على أوجه وتجارب جديدة تعكس للجميع ثراء التاريخ السعودي وعمق القيم المتجذّرة في أرضها 
 وأهلها.
 </p>
 <p>
بلغت قيمة تطوير الدرعية "أحد المشاريع الكبرى المملوكة لصندوق الاستثمارات العامة" 237.4 مليار ريال سعودي،
 لتوفر فرصًا فريدة للسياحة والسكن والعمل والتسوق وتناول الطعام، والاحتفاء بالتراث السعودي الأصيل والثقافة الغنية، بعدما تم تصميمها لتكون معلمًا حضاريًا وتراثيًا مستدامًا، وتركز مبادرات الدرعية على المحافظة على المياه، وكفاءة الطاقة، والصحة، وحماية الثقافة والتراث، والصمود أمام تغير المناخ،
  حيث يستطيع روادها المشي على أقدامهم بنسبة 100% من مساحتها، 
 مما يعزز صحة السكان.
            </p>
        </div>
    </div>
</section>


<section class="other-discovery">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <h2   data-aos="fade-up"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">  برنامج الجينوم</h2>
                    <p   data-aos="zoom-in"   data-aos-duration="400" 
                    data-aos-delay="200"    data-aos-easing="linear">
                        يفتح برنامج الجينوم مسارًا جديدا 
                        في قطاع الرعاية الصحية، وذلك بإنشاء قاعدة بيانات لتوثيق 
                        أول خريطة وراثية للمجتمع السعودي، والعمل على تمكين وتطوير 
                        الرعاية الصحية، وتقليل تكاليفها، وتحسين جودة الحياة
                         بشكل عام يمثل برنامج الجينوم السعودي، الذي افتتحه صاحب السمو الملكي 
                        الأمير محمد بن سلمان بن عبدالعزيز آل سعود ولي العهد 
                        رئيس مجلس الوزراء 
                        عام 2018،
                         مبادرة وطنية فارقة، تسخر أحدث تقنيات الجينوم 
                        المتقدمة للحد بشكل فعال من انتشار الأمراض الوراثية،
                         ويقود البرنامج نحو التقدم في مجال الرعاية الصحية من خلال 
                        توفير التشخيص والعلاج والوق اية بشكل أفضل
                    </p>
                </div>
            </div>

            <div class="col-lg-5"  data-aos="fade-up"   data-aos-duration="400" 
            data-aos-delay="200"    data-aos-easing="linear">
                <div class="img">
                    <img src="../../../../assets/images/annoynous-img.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>